.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
 margin: 0;
  
 
}

.form-container form {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 max-width: 500px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 100%;
}

button[type=submit] {
  background-color: #7b73e6;
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #6b63d0;
}
.success-message {
  background-color: #5cb85c;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.success-message p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.success-message button {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #5cb85c;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.success-message button:hover {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}

